extends ../layout


block mainContainer
    div(class="card")
        h5(class="card-header bg-primary text-light") #{pageTitle}
        .card-body
            form(action="/addDevice", method="post")
                .form-group.row
                    label(for="device_name" ,class="col-12 col-sm-12 col-md-3 col-lg-3") Device name
                    div(class="col-12 col-sm-12 col-md-9 col-lg-9")
                        input(type="text", name="device_name" ,class="form-control form-control-sm")
                .form-group.row
                    label(for="device_ip", class= "col-12 col-sm-12 col-md-3 col-lg-3") Device (IP or hostname)
                    div(class="col-12 col-sm-12 col-md-9 col-lg-9")
                        input(type="text",  name="device_hostname" , class="form-control form-control-sm")
                .form-group.row
                    label(for="community" ,class= "col-12 col-sm-12 col-md-3 col-lg-3") Community
                    div(class="col-12 col-sm-12 col-md-9 col-lg-9")
                        input(type="text",  name="community" , class="form-control form-control-sm")
                .form-group.row
                    div(class="col-12")
                        button(class="btn btn-primary") Submit
            





