extends ../layout


block mainContainer
    div(class="card")
        div(class="card-header bg-primary text-light")
            h5(class="card-title m-0",id="cTitle") #{pageTitle}
        div(class="card-body")
            div
                div(id="divSysNameContainer",class="my-2")
                    div System name
                    div(id="divSysNameContainerValue") Please wait...
                div(id="divSysDescrContainer",class="my-2")
                    div System descr
                    div(id="divSysDescrContainerValue") Please wait...
                    


block jsScript
    script(src="/assets/js/detailSystem.js")