extends ../layout



block mainContainer

    div(class="modal fade" ,id="modal-graph",data-backdrop="static")
        div(class="modal-dialog")
            div(class="modal-content")
                div(class="modal-header bg-primary text-light")
                    h5(class="modal-title") Graph Detail
                div(class="modal-body",id="modal-graph-body")
                    img(id="modal-graph-img" , class="img-fluid", alt="Loading graph")
                div(class="modal-footer")
                    button(class="btn btn-secondary",data-dismiss="modal") Close

    h5(class="bg-primary text-light m-0 p-2") Interfaces and its status
    div(id="card-container")
        div(id="loading-container") Please wait...



block jsScript
    script(src="/assets/js/detailInterface.js")
    
