extends ../layout


block mainContainer

    div(class="modal fade" , id="modal-device")
        div(class="modal-dialog")
            div(class="modal-content")
                div(class="modal-header bg-primary text-light")
                    h5(class="modal-title") Detail
                div(class="modal-body p-0")
                    ul(class="list-group")
                        li(class="list-group-item",style="cursor:pointer")
                            a(id="aInterface") Inteface detail
                        li(class="list-group-item",style="cursor:pointer")
                            a(id="aSystem") System detail

    div(class="table-responsive")
        table(class="table table-hover", id="table-device")
            thead
                tr(class="bg-primary text-light")
                    td Device Name
                    td Device Hostname
                    td Community
                    td Detail
            tbody(id="table-body")


        
block jsScript
    script(src="/assets/js/list.js")
