html
    head
        title #{pageTitle}
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel="stylesheet", href="/assets/css/bootstrap.min.css")
        link(rel="stylesheet", href="/assets/css/global.css")
        link(rel="stylesheet", href="/assets/css/responsive.css")
        script(src="/assets/js/jquery.min.js")
        script(src="/assets/js/bootstrap.min.js")
        block cssScript
    body
        //- left navbar
        nav(id="left-navbar")
            div(id="left-navbar-header",class="bg-primary text-light p-2")
                h4(class="m-0") #{pageTitle}
            div(id="left-navbar-content" ,class="bg-primary mt-4 text-light")
                div(class="p-2 content-hover")
                    i(class="fa fa-home mx-1")
                    a(class="mx-1 content-a",href="/") Home Page
                div(class="p-2 content-hover")
                    i(class="fa fa-plus-circle mx-1")
                    a(class="mx-1 content-a",href="/addDevice") Add device
                div(class="p-2 content-hover")
                    i(class="fa fa-bars mx-1")
                    a(class="mx-1 content-a",href="/listDevice") List device

        //- main container
        div(id="main")
            block mainContainer
    
    block jsScript